absl-py==0.11.0
appdirs==1.4.4
backcall==0.2.0
bcrypt 
brotlipy==0.7.0
cachetools==4.2.1
certifi==2020.12.5
cffi 
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
colored==1.4.2
cryptography 
cycler==0.10.0
Cython==0.29.22
dataclasses==0.6
decorator==4.4.2
distlib==0.3.1
ecdsa 
fastapi==0.63.0
filelock==3.0.12
future==0.18.2
fvcore==0.1.3.post20210227
google-auth==1.27.0
google-auth-oauthlib==0.4.2
grpcio==1.36.0
h11==0.11.0
idna==2.10
imageio==2.9.0
iopath==0.1.4
joblib==0.17.0
kiwisolver==1.3.1
matplotlib==3.3.4
mock==4.0.2
networkx==2.5
numpy
NVCCPlugin @ git+git://github.com/andreinechaev/nvcc4jupyter.git@aac710a35f52bb78ab34d2e52517237941399eff
oauthlib==3.1.0
olefile==0.46
opencv-python==4.5.1.48
parso==0.7.1
pew==1.2.0
pexpect 
pickleshare==0.7.5
Pillow==8.1.0
portalocker==2.2.1
prompt-toolkit==3.0.7
protobuf==3.15.3
psutil==5.7.2
ptyprocess 
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycosat==0.6.3
pycparser 
pycryptodome 
pydantic 
pydot==1.4.2
Pygments==2.7.1
pyOpenSSL 
pyparsing==2.4.7
PySocks 
python-dateutil==2.8.1
python-dotenv==0.15.0
python-jose 
python-multipart==0.0.5
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==19.0.2
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
ruamel-yaml==0.15.87
scipy==1.5.2
six==1.15.0
SQLAlchemy 
starlette==0.13.6
tabulate==0.8.9
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
termcolor==1.1.0
threadpoolctl==2.1.0
tifffile
toml==0.10.2
torch==1.7.1
torchvision==0.8.2
tornado==6.0.4
tqdm==4.58.0
traitlets==5.0.4
typing-extensions==3.7.4.3
urllib3==1.26.3
uvicorn==0.13.4
wcwidth==0.2.5
Werkzeug==1.0.1
yacs==0.1.8
